<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste des Coins</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-black" x-data="pageIndex">
    <div class="container mx-auto flex items-center justify-center">
        <div class="rounded-md bg-gray-900 mt-4">
            <table class="w-lgg text-white p-4">
                <thead class="border-b-1 border-gray-800">
                    <tr class="h-12 p-4">
                        <th>ID</th>
                        <th>Symbole</th>
                        <th>Nom</th>
                        <th class="text-white">Capitalisation (Market Cap)</th>
                        <th>Activé</th>
                        <th>Activer</th>
                        <th>Ticker</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coin in coins %}
                    <tr class="h-12">
                        <td>{{ coin.id }}</td>
                        <td>{{ coin.symbol }}</td>
                        <td>{{ coin.name }}</td>
                        <td>{{ coin.market_cap }}</td>
                        <td>{{ "Oui" if coin.enabled else "Non" }}</td>
                        <td>
                            {% if coin.ticker %}
                            <div @click="enableCoin('{{ coin.id }}')"
                                class="rounded-md px-6 h-10 hover:bg-amber-400 bg-amber-500 text-black cursor-pointer flex items-center justify-center">
                                Activer</div>
                            {% endif %}
                        </td>
                        <td>
                            {% if coin.ticker %}
                            <span
                                class="ml-2 bg-green-500 text-gray-900 text-heading text-xs font-medium px-1.5 py-0.5 rounded">{{
                                coin.ticker }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="/static/index.js"></script>

</html>